<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Blogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}">
    <script src="{{ url_for('static', filename='js/blog_script.js') }}"></script>
</head>
<body>
    <nav>
        <!-- Return to Home button -->
        <form action="{{ url_for('home') }}" method="get" style="display: inline;">
            <button type="submit" class="button">Return to Home</button>
        </form>
        <form action="{{ url_for('logout') }}" method="get" style="display: inline;">
            <button type="submit" class="button">Logout</button>
        </form>
    </nav>
    <h1>All Blogs:</h1>
    {% if blogs %}
        {% for blog in blogs %}
            <div class="blog-container">
                <h2 class="blog-title">{{ blog.title }}</h2>
                <h3 class="blog-id">ID: {{blog.blog_id}}</h3>
                <p class="blog-content">{{ blog.content }}</p>

                <form action="{{ url_for('delete_blog', blog_id=blog.blog_id) }}" method="post" class="blog-remove">
                    <button type="submit" class="button">X</button>
                </form>

                <!-- Edit button links to a page for editing the blog -->
                <a id="show-edit-{{ blog.blog_id }}" class="button" onclick="toggleForm({{ blog.blog_id }})">Edit</a>
                <div id="edit-form-{{ blog.blog_id }}" class="edit-form">
                    <h3>Edit Blog:</h3>
                    <form action="{{ url_for('edit_blog', blog_id=blog.blog_id) }}" method="post">
                        <a>New Title:</a>
                        <input id="title-{{ blog.blog_id }}" name="title" type="text">
                        <br><br>
                        <textarea id="content-{{ blog.blog_id }}" name="content" rows="4" cols="50"
                                  placeholder="Enter new blog content here"></textarea>
                        <br><br>
                        <button type="submit" class="button">Update Blog</button>
                    </form>
                </div>


            </div>
        {% endfor %}
    {% else %}
        <h1>You have no blogs yet.</h1>
    {% endif %}

    <!-- Button for creating a new blog -->

    <h1>Create New Blog:</h1>
    <form action="{{ url_for('blog') }}" method="post" style="display: inline;">
        <a>New Blog Title:</a>
        <input name="title" type="text">
        <br><br>
        <textarea name="content" rows="4" cols="50" placeholder="Enter new blog content here"></textarea>
        <br><br>
        <button type="submit" class="button">Create New Blog</button>
    </form>
    <br>
    <br>
</body>
</html>