<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Your Blogs</title>
</head>
<body>
    <h1>Nice Blog My Dude:</h1>
    {% if blogs %}
        {% for blog in blogs %}
            <h2>{{ blog.title }}</h2>
            <p>{{ blog.content }}</p>
        {% endfor %}
    {% else %}
        <h1>You have no blogs yet.</h1>
    {% endif %}

    <form action="{{ url_for('home') }}" method="get">
        <button type="submit">Noooo take me baaack</button>
    </form>

    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Logout</button>
    </form>
</body>
</html>